<!-- Dashboard icons -->
<%= render :partial => 'admin/admins/menu_iconi' %>
<!-- End .grid_7 -->           
<div class="grid_12">    
<!-- Button -->
<div class="bottom-spacing">     
<div class="float-right">          
<%= link_to new_admin_galery_path, :class => "button"  do %>
<span>            
<%= image_tag "image-admin/plus-small.gif", :size => "12x9"  %> Novo Registro
</span>
<%  end %>             

</div>         
</div>    
<!-- fecha Button -->  

<!-- Example table -->
<div class="module">
<h2><span>Listagem de imagens</span></h2>

<div class="module-table-body">           
<table id="myTable" class="tablesorter">
<% if @galeries.present? %>
<thead>
<tr>
    <th style="width:10%">Código</th>
   
     <th style="width:40%">Título</th>
      <th style="width:35%">Imagem</th>                         
    <th style="width:15%">Ações</th>
</tr>
</thead>
<tbody>
<% @galeries.each do |galeria| %>
<tr>
    <td class="align-center"><%= galeria.id %></td>
  
   
    <td><%= link_to edit_admin_galery_path(galeria) do %>
        <%= galeria.title %>
        <% end %>
    </td>  
    <td>
     <%= link_to image_tag(galeria.document.url(:thumb), :size => "30x30") %>
    </td>
  
  <td>                     

        <%= link_to edit_admin_galery_path(galeria), :title => "Editar arquivo" do  %>
          <span>            
          <%= image_tag "image-admin/pencil.gif", :size => "16x16" , alt: 'edite'  %> 
         </span>
        <% end %>

        <%= link_to  admin_galery_path(galeria), confirm: 'Deletar arquivo, Tem certeza ?', method: :delete , :title => "Excluir arquivo" do %>
         <span>            
          <%= image_tag "image-admin/bin.gif", :size => "20x16"  %> 
         </span>
        <%end %>                          
       
    </td>
</tr>
<% end %>            

</tbody>
<% end %>
</table>         
<div class="pager" id="pager">
<%= will_paginate @galeries %>

</div>


</div> <!-- End .module-table-body -->
</div>
<!-- End .module -->





</div>
<!-- End .grid_12 -->


<div style="clear:both;"></div>