<!-- Password -->
<div class="grid_6">
<div class="module">
<h2><span>Forgot your password?</span></h2>

<div class="module-body">

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
<%= devise_error_messages! %>



<p><%= f.label :email %><br />
<%= f.email_field :email, :class => "input-medium password" %></p>

<p><%= f.submit "Send me reset password instructions" , :class => "submit-green" %>

<%= link_to new_user_session_path ,:class => "submit-gray" do %>
     
 <%= image_tag "image-admin/cross-small.gif" %> Cancelar   
                 
<% end %>

</p>
<% end %>



</div> <!-- End .module-body -->
</div> <!-- End .module -->
<div style="clear:both;"></div>
</div> <!-- End .grid_6 -->
