<div class="5grid-layout">
<div class="row">
<div class="6u">

<div class="mobileUI-main-content" id="content">
<h2>Clientes e Parceiros</h2>
  <% @galeries_clientes.galeries.each do |c| %>
  <section>
  <div class="post">       

  <p class="subtitle">
  <%= c.title.titleize %>
  </p>

  <p> <%= image_tag(c.document.url(:medium)) %></p>
  <p><strong>  <%= c.body %></strong></p>

  <p class="button-style2">
  <%= link_to c.url, :target => "_blank" %>
  </p>
  </div>

  </section>
  <% end %>
</div>  

</div>
<!--sde bar-->

<%= render 'pages/sidebar' %>
<!--fecha side bar-->

</div>
</div>








