  <div id="header">
  <div id="topnav">
  <ul>
 
  <li class="last">
<%= link_to services_path do %>
Serviços
<%end %>
  
  
  </li>
  
  <li>
<%= link_to customers_path do %>
  Clientes
  <% end%>
  </li>
  <li><a href="#">Contatos</a>
    <ul>
<li>
<%= link_to contacts_path do %>
  Contatos
  <% end%>
</li>
<li>
<%= link_to curriculo_index_path do %>
  Currículo
  <% end%>
</li>
    </ul>

  </li>
  <li>
  <%= link_to abauts_path do %>
  Conheça-nos
  <% end%>
  </li>
  <li>
<%= link_to posts_path do %>
  Artigos
  <% end%>
  </li>

  <li class="active">
  <%= link_to root_path do %>
  Home
  <% end %>
  </li>
  </ul>
  </div>
  <div id="logo">
  <%= link_to root_path do %>
  <%= image_tag "ebox_tranparente_branco.png", :size => "250x55" %>
  <% end %>

  </div>
  <br class="clear" />
  </div>