<div class="5grid-layout">
<div class="row divider">
<div class="4u">
<section>
<div class="box-style">
 <a href="#"><%= image_tag "atualizacao.jpg" %></a>
    <h3>Atualização de sites</h3>
    <p>Se sua empresa já tem um website e necessita de uma reformulação este é o serviço certo, vamos analisar e levantar o que pode ser melhorado no seu site como layout, código e usabilidade para atrair mais clientes. </p>      
    <p class="button-style2">
    <%= link_to services_path do %>
    Continue Lendo &raquo;
    <%end %> 

    </p>     

</div>
</section>
</div>
<div class="4u">
<section>
<div class="box-style"> <a href="#"><%= image_tag "criacao.jpg" %></a>
<h3>Criação de sites</h3>
<p>
Nossos serviços de criação de sites, ajuda sua empresa a se destacar na Internet, com qualidade e profissionalismo, entregamos cada projeto com o que a de melhor em tecnologia, posicionamos seu site nos buscadores melhores do mercado e com resultados. </p>
 <p class="button-style2">
    <%= link_to services_path do %>
    Continue Lendo &raquo;
    <%end %> 

    </p>     
</div>
</section>
</div>
<div class="4u">
<section>
<div class="box-style"> <a href="#"><%= image_tag "portfolio.jpg" %></a>
<h3>Portfólio</h3>
<p>Hoje o sucesso de muitas empresas se deve em ter seu Portfólio on-line, uma das melhores formas para voçê divulgar seus produtos na rede mundial, e conseguir chegar ao número muito grande de clientes. </p>
 <p class="button-style2">
    <%= link_to services_path do %>
    Continue Lendo &raquo;
    <%end %> 

    </p>   
</div>
</section>
</div>
</div>
</div>