
    <div class="5grid-layout">
      <div class="row">
        <div class="6u">
         
          <div class="mobileUI-main-content" id="content">
        
            <section>
            
              <div class="post">
            <% @posts.each do |p| %>
             
                <p class="subtitle">  <%= link_to post_path(p) do %>

      <%= p.title.titleize %>
      <% end %></p>
      <p><%= textilize p.excerpt %></p>
                
               <p class="button-style2">
      <%= link_to post_path(p) do %>
      Continue Lendo &raquo;
      <% end %>
      </p>

                <% end %>
              </div>
            
            </section>
<div class="paginacao">
    <%= will_paginate @posts %>

    </div>
          
          </div>

        
        </div>



       
      <!-- side bar -->

<%= render 'pages/sidebar' %>
<!-- fecha side bar -->

      </div>
    </div>