
	<div class="content">      

	<h2>Envie seu Contato</h2>
	<div id="respond">

	<%= form_for(@contact) do |f| %>

	<%= error_messages_for @contact %>

	<p>
	<%= f.text_field :name, :placeholder => "Nome do contato" %>
	<label for="name"><small>Name (required)</small></label>
	</p>

	<p>
	<%= f.text_field :email, :placeholder => "Email para contato" %>
	<label for="email"><small>Mail (required)</small></label>
	</p>
	<p>
		<label for="asssunto"><small>Asssunto (required)</small></label><br/>
	<%= f.text_field :assunto ,:placeholder => "Assunto", :size => "82" %>

	</p>

	<p>
	<%= f.text_area :body ,:placeholder => "Menssagem", :rows => 10, :cols => 80 %>
	<label for="comment" style="display:none;"><small>Comment (required)</small></label>
	</p>
	<p> <%= f.captcha %></p>

	<p>
	<%= f.submit "Enviar Contato" %>
	&nbsp;
	<%= link_to root_path do %>
	  Cancelar
	<% end %>
	</p>

	<% end %>



	</div>
	<div id="respond">
		<h2><a href="#">Erlon Carlos</a></h2>
		<p>Avenida Olímpica, 2329 A<br/>
		Cacimba do Povo<br/>
		Aracati/Ce<br/>
		Fone: 088 9652 4411

	</p>
	<p>Somos uma agência web especializada no desenvolvimento de sites institucionais, blog e sistemas integrados.</p>

	</div>
	</div>
	<div class="column">


	<%= render :partial => "posts/sidebar" %>
	</div>
	<br class="clear" />



