<div class="5grid-layout">
<div class="row">
<div class="6u">
<div class="mobileUI-main-content" id="content">
<section>
<div class="post">
	<h2>Envie seu Contato</h2>
	<br/>

	<%= form_for(@contact) do |f| %>

	<%= error_messages_for @contact %>

	<p>
	<%= f.text_field :name, :placeholder => "Nome do contato" %>
	<label for="name"><small>Nome (required)</small></label>
	</p>

	<p>
	<%= f.text_field :email, :placeholder => "Email para contato" %>
	<label for="email"><small>E-Mail (required)</small></label>
	</p>
	<p>
	<label for="asssunto"><small>Asssunto (required)</small></label><br/>
	<%= f.text_area :assunto ,:placeholder => "Assunto", :rows => 3, :cols => 80 %>

	</p>

	<p>
	<%= f.text_area :body ,:placeholder => "Menssagem", :rows => 10, :cols => 80 %>
	<label for="comment" style="display:none;"><small>Comment (required)</small></label>
	</p>
	<p> <%= f.captcha %></p>
	<p class="button-style2">

			<%= f.submit "Enviar Contato"  %>
			<%= link_to root_path do %>
	Cancelar
	<% end %>
	</p>	

	<% end %>

</div>
<div >
<h2><strong>Erlon Carlos</strong></h2>
<p><strong>Avenida Olímpica, 2329 A<br/>
Cacimba do Povo, Aracati-CE<br/>
Fone: (88)&nbsp;9652-4411</strong>

</p>
<p><strong>Somos uma agência web especializada no desenvolvimento de sites institucionais, blog e sistemas integrados.</strong></p>
<br/>

</div>


<div align="center">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-9829104402949830";
/* eboxbrasil468 */
google_ad_slot = "6549407021";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<br/>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

</div>

</section>
</div>

</div>

<!--sde bar-->

<%= render 'pages/sidebar' %>
<!--fecha side bar-->

</div>
</div>




