<div class="grid_7">
<%= link_to admin_categories_path  , class: "dashboard-module"  do  %>
<%= image_tag "image-admin/icon-17.png", :size => "64x64"  %>
<span>Categorias</span>
<% end %>
<%= link_to admin_category_galeries_path  , class: "dashboard-module"  do  %>
<%= image_tag "image-admin/icon-17.png", :size => "64x64"  %>
<span>Categoria Imagem</span>
<% end %>
<%= link_to admin_posts_path  , class: "dashboard-module"  do  %>
<%= image_tag "image-admin/icon-19.png", :size => "64x64"  %>
<span>Posts</span>
<% end %>
<%= link_to admin_galeries_path  , class: "dashboard-module"  do  %>
<%= image_tag "galeria.jpg", :size => "64x64"  %>
<span>Galeria imagens</span>
<% end %>  
<%= link_to admin_users_path  , class: "dashboard-module"  do  %>
<%= image_tag "image-admin/Crystal_Clear_user.gif", :size => "64x64"  %>
<span>Cadastro Usuários</span>
<% end %>  


</div>

<!-- Account overview -->
<div class="grid_5">
<div class="module">
<h2><span>Account overview</span></h2>                        
<div class="module-body">                        
<p>
    <strong>User: </strong>User X<br />
    <strong>Your last visit was on: </strong>20 January 2010,<br />
    <strong>From IP: </strong>000.000.00.00
</p>

 <div>
     <div class="indicator">
         <div style="width: 23%;"></div><!-- change the width value (23%) to dynamically control your indicator -->
     </div>
     <p>Your storage space: 23 MB out of 100MB</p>
 </div>
 
 <div>
     <div class="indicator">
         <div style="width: 100%;"></div><!-- change the width value (100%) to dynamically control your indicator -->
     </div>
     <p>Your bandwidth (January): 1 GB out of 1 GB</p>
 </div>
 
<p>
    Need to switch to a bigger plan?<br />
    <a href="">click here</a><br />
</p>

</div>
</div>
<div style="clear:both;"></div>
</div> <!-- End .grid_5 -->
