
<!-- Dashboard icons -->
<%= render :partial => 'admin/admins/menu_iconi' %>
<!-- End .grid_7 -->           

<div style="clear:both;"></div>           

<div class="grid_12">    
<!-- Button -->
<div class="bottom-spacing">     
<div class="float-right">          
<%= link_to new_admin_post_path, :class => "button"  do %>
<span>            
<%= image_tag "image-admin/plus-small.gif", :size => "12x9"  %> Novo Registro
</span>
<%  end %>             

</div>         
</div>    
<!-- fecha Button -->  

<!-- Example table -->
<div class="module">
<h2><span>Listagem de Posts</span></h2>

<div class="module-table-body">           
<table id="myTable" class="tablesorter">
<% if @posts.present? %>
<thead>
<tr>
<th style="width:5%">Código</th>
<th style="width:80%">Titulo</th>
 <th style="width:15%">Ações</th>           

</tr>
</thead>
<tbody>
<% @posts.each do |post| %>
<tr>
<td class="align-center"><%= post.id %></td>
<td><%= link_to admin_post_path(post) do %>
    <%= post.title.titleize %>
    <% end %>
</td>  

<td> 
    <%= link_to edit_admin_post_path(post), :title => "Editar arquivo" do  %>
      <span>            
      <%= image_tag "image-admin/pencil.gif", :size => "16x16" , alt: 'edite'  %> 
     </span>
    <% end %>

    <%= link_to  admin_post_path(post), confirm: 'Deletar arquivo, Tem certeza ?', method: :delete , :title => "Excluir arquivo" do %>
     <span>            
      <%= image_tag "image-admin/bin.gif", :size => "20x16"  %> 
     </span>
    <%end %>                          
   
</td>
</tr>
<% end %>            

</tbody>
<% end %>
</table>         


<div class="pager" id="pager">
<%= will_paginate @posts %>

</div>

</div> <!-- End .module-table-body -->
</div>
<!-- End .module -->           

</div>   
<!-- End .grid_12 -->

<div style="clear:both;"></div>













