<div class="container">
<div class="content">

<div id="comments">
<h2>Artigos</h2>
<% if @posts.present? %>
<% @posts.each do |p| %>
<ul class="commentlist">
<li class="comment_odd">
<div class="author">
<span class="name"><a href="#">Autor</a>
</span>
<span class="wrote"><%= p.user_id %> </span>
<br>
<span class="name">
<%= link_to post_path(p) do %>

<%= p.title.titleize %>
<% end %>
</span>
</div>
<div class="submitdate">
<%= p.created_at.strftime("%d de %b de %y") %>
</div>



<p><%= textilize p.excerpt %></p>
<p class="readmore"><%= link_to post_path(p) do %>
	Continue Lendo &raquo;
<% end %>
	</p>
</li>  


</ul>
<% end %>
<% end %>
<a href="javascript:history.back()">Voltar</a>
</div>


</div>
<!--fecha div artigos -->
<!--div sidebar -->
<div class="column">

<%= render :partial => "posts/sidebar" %>
</div>

<br class="clear" />
</div>







