<div class="5grid-layout">
	<div class="row">
		<div class="6u">
		<% if @posts.present? %>
		<div class="mobileUI-main-content" id="content">

			<% @posts.each do |p| %>
			<section>
			<div class="post">

			<p class="subtitle">
			<%= link_to post_path(p) do %>

			<%= p.title.titleize %>
			<% end %>
			</p>
			<p><%= textilize p.excerpt %></p>
			<p class="button-style2">
			<%= link_to post_path(p) do %>
			Continue Lendo &raquo;
			<% end %>
			</p>
			</div>

			</section>


			<% end %>
		</div>
		<div class="paginacao">
		<%= will_paginate @posts %>

		</div>
		<% end %>   
		</div>



		


	<!--sde bar-->

	<%= render 'pages/sidebar' %>
	<!--fecha side bar-->





	</div>
</div>


