<div id="page">
		<div class="5grid-layout">
			<div class="row">
				<div class="9u mobileUI-main-content" id="content">
					<section>
						<div class="post">
							<h2><%= @post.title %></h2>
							<p class="subtitle"><%= @post.created_at.strftime("%d de %b de %y") %></p>
							<p><%= textilize @post.excerpt %></p>
							
							<p>&nbsp;</p>
							<p><%= textilize @post.body %></p>
							 <p class="button-style2">
   <a href="javascript:history.back()">Voltar</a>
      </p>
						</div>
					</section>
				</div>
				<div class="3u" id="sidebar2">
					<%= render 'pages/sidebarshow' %>
				</div>
			</div>
		</div>
	</div>
</div>
