<div class="container">



<h2><%= @post.title.titleize %></h2>


<div class="author">
<span class="name"><a href="#">Autor</a>
</span>
<span class="wrote"><%= @post.user_id %> </span>
<br>

</div>
<div class="submitdate">
<%= @post.created_at.strftime("%d de %b de %y") %>
</div>

<p><%= textilize @post.excerpt %></p>
<p><%= textilize @post.body %></p>


<a href="javascript:history.back()">Voltar...</a>

<h2>Faça um Comentário do Artigo</h2>
<div id="respond">
<!--render comentarios -->


</div>
<!--render comentarios -->

<!--fecha div artigos -->
<div class="column">



</div>
<br class="clear" />
</div>







