
<!-- Dashboard icons -->
<%= render :partial => 'admin/admins/menu_iconi' %>
<!-- End .grid_7 -->           

<div style="clear:both;"></div>           

<div class="grid_12">    
<!-- Button -->
<div class="bottom-spacing">     
<div class="float-right">          
   <%= link_to new_admin_user_path, :class => "button"  do %>
<span>            
<%= image_tag "image-admin/plus-small.gif", :size => "12x9"  %> Novo Registro
</span>
<%  end %>             

</div>         
</div>    
<!-- fecha Button -->  

<!-- Example table -->
<div class="module">
<h2><span>Listagem de Usuários</span></h2>

<div class="module-table-body">           
<table id="myTable" class="tablesorter">
<% if @users.present? %>
<thead>
<tr>
<th style="width:5%">Código</th>
<th style="width:40%">Nome</th>
<th style="width:40">Email</th>
 <th style="width:15%">Ações</th>           

</tr>
</thead>
<tbody>
    <% @users.each do |user| %>
<tr>
<td class="align-center"><%= user.id %></td>
<td><%= link_to admin_user_path(user) do %>
<%= user.first_name.titleize %>
<% end %>
</td> 
<td><%= user.email %></td> 

<td> 
<%= link_to edit_admin_user_path(user), :title => "Editar arquivo" do  %>
  <span>            
  <%= image_tag "image-admin/pencil.gif", :size => "16x16" , alt: 'edite'  %> 
 </span>
<% end %>

<%= link_to  admin_user_path(user), confirm: 'Deletar arquivo, Tem certeza ?', method: :delete , :title => "Excluir arquivo" do %>
 <span>            
  <%= image_tag "image-admin/bin.gif", :size => "20x16"  %> 
 </span>
<%end %>                          

</td>
    </tr>
    <% end %>            

</tbody>
<% end %>
</table>         



</div> <!-- End .module-table-body -->
</div>
<!-- End .module -->



<div class="pagination">           
<a href="" class="button"><span><img src="arrow-stop-180-small.gif" tppabs="http://www.xooom.pl/work/magicadmin/images/arrow-stop-180-small.gif" height="9" width="12" alt="First" /> First</span></a> 
<a href="" class="button"><span><img src="arrow-180-small.gif" tppabs="http://www.xooom.pl/work/magicadmin/images/arrow-180-small.gif" height="9" width="12" alt="Previous" /> Prev</span></a>
<div class="numbers">
<span>Page:</span> 
<a href="">1</a> 
<span>|</span> 
<a href="">2</a> 
<span>|</span> 
<span class="current">3</span> 
<span>|</span> 
<a href="">4</a> 
<span>|</span> 
<a href="">5</a> 
<span>|</span> 
<a href="">6</a> 
<span>|</span> 
<a href="">7</a> 
<span>|</span> 
<span>...</span> 
<span>|</span> 
<a href="">99</a>
</div> 
<a href="" class="button"><span>Next <img src="arrow-000-small.gif" tppabs="http://www.xooom.pl/work/magicadmin/images/arrow-000-small.gif" height="9" width="12" alt="Next" /></span></a> 
<a href="" class="button last"><span>Last <img src="arrow-stop-000-small.gif" tppabs="http://www.xooom.pl/work/magicadmin/images/arrow-stop-000-small.gif" height="9" width="12" alt="Last" /></span></a>
<div style="clear: both;"></div> 
</div>

</div>
<!-- End .grid_12 -->


<div style="clear:both;"></div>













