<h2>Contato de email enviado pelo Site</h2>

<p>Para: <%= @contact.name %></p>
<p>Email: <%= @contact.email %></p>
<p>Assunto: <%= @contact.assunto %></p>
<hr/>

<p>Menssagem: <%= @contact.body %></p>

<p><%= admin_contact_url(@contact) %></p>


